..=cd ..
...=cd ..\..
....=cd ..\..\..
.....=cd ..\..\..\..
~=cd /D %USERPROFILE%
alias=doskey /macros
history=type "%LOCALAPPDATA%\clink\.history" $*
please=sudo $*
hosts=sudo notepad %SystemRoot%\system32\drivers\etc\hosts
g=git $*
v=gvim $*
n=notepad $*
e=explorer .
logvi=timeref $* | vim -c ":set nowrap" -
